<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bond.Core.CSharp" version="4.2.1" targetFramework="net461" />
  <package id="Bond.Runtime.CSharp" version="4.2.1" targetFramework="net461" />
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net461" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net461" />
  <package id="Google.Api.CommonProtos" version="1.0.0" targetFramework="net461" />
  <package id="Google.Api.Gax" version="1.0.1" targetFramework="net461" />
  <package id="Google.Api.Gax.Grpc" version="1.0.1" targetFramework="net461" />
  <package id="Google.Apis" version="1.24.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.24.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.24.1" targetFramework="net461" />
  <package id="Google.LongRunning" version="1.0.0-beta08" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.2.0" targetFramework="net461" />
  <package id="Grpc.Auth" version="1.2.0" targetFramework="net461" />
  <package id="Grpc.Core" version="1.2.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.6.4" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="14.1.131" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="14.1.111" targetFramework="net461" />
  <package id="NAudio" version="1.8.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Plugin.BingSpeech" version="1.0.3" targetFramework="net461" />
  <package id="Plugin.NetStandardStorage" version="1.0.5" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net461" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net461" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net461" />
</packages>